/*****************************************
GENERALE
*****************************************/

body {
	font-family: arial, calibri, corbel;
	margin: 0;
}

.container {
	min-height: calc(100vh - 164px);
}

.clearfix::after {
	content: " ";
	display: table;
	clear: both;
}


/*****************************************
HEADER
*****************************************/

header {
	background-color: #0069aa;
	border-bottom: 4px solid #a29161;
	position: fixed;
	width: 100%;
	top: 0;
	
	
	}

h1 {
	font-size: 4em;
	text-transform: uppercase;
	color: #000000;
	text-align: center;
	margin: 0;
	padding: 10px 0 0 0;
	
}

h2 {
	color: #a29161;
	text-align: center;
	font-size: 2em;
	margin: 0;


}

h3 {
	text-align: center;
}

nav {
	background-color: #000000;
	text-align: center;
	margin: 0;
		}

nav li {
	display: inline-block;
	padding: 4px 10px 4px 10px;
	list-style-type: none;



}

nav li:hover {
	background-color: #0069aa;
}

nav li a {
	color: #ffffff;
	font-size: 20px;
	text-decoration: none;
}

nav ul {
	padding: 0;
	margin: 8px 0;
}

.logo {
	display: block;
	max-width: 135px;
	margin: 0 auto;

}


nav a.selected {
	color: #0069aa;

}


/*****************************************
BANNER
*****************************************/

.banner {
	padding: 600px 0 30px 0;
	background-image: 	linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)),
						url(../Immagini/Sfondo.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
}




/*****************************************
SECTION
*****************************************/

#wrapper {
	max-width: 1060px;
	margin: 0 auto;
	padding: 0 5% 5px 5%;
	box-sizing: border-box;
}

#wrapper h3 {
	border-bottom: #a29161 solid 3px;
}




#wrapper img {
	max-width: 100%;

}



/*****************************************
SQUADRA
*****************************************/

.ruoli li {
	display: inline-block;
	text-align: center;
	list-style-type: none;
	
	

}

.ruoli {
	padding-bottom: 0;
	margin-bottom: 0;
}

.ruoli li a {
	text-decoration: none;
	color: #000000;
	padding: 5% 5px;
	width: 25%;
	
}

#giocatori p {
	max-width: 200px;
	text-align: center;
}

#giocatori h4 {
	clear: both;
	padding-left: 5%;
	padding-top: 20%;
	text-transform: uppercase;
}

#giocatori ul {
	list-style-type: none;
	padding: 0;
}



.maglia {
	margin: 0;
	font-size: 1.5em;
	text-shadow: 1px 1px 5px #0069aa;
	font-weight: bold;
	color: #000000;

}

.Portieri li {
	list-style: none;
	float: left;
	width: 45%;
	margin: 2.5%;
	background-color: #f5f5f5;
}




.Difensori li {
	list-style: none;
	float: left;
	width: 45%;
	margin: 2.5%;
	background-color: #f5f5f5;
}


.Centrocampisti li {
	list-style: none;
	float: left;
	width: 45%;
	margin: 2.5%;
	background-color: #f5f5f5;
}


.Attaccanti li {
	list-style: none;
	float: left;
	width: 45%;
	margin: 2.5%;
	background-color: #f5f5f5;
}




/*****************************************
ALLENATORE
*****************************************/

.allenatore {
	text-align: center;
}

.allenatore p {
	text-align: center;
}

.allenatore img {
	width: 400px;
}



/*******************************************
FOOTER
******************************************/

footer {
	text-align: center;
	clear: both;
	padding: 40px;
	background-color: #0069aa;
}

footer p a {
	font-size: 1em;
	color: #000000;
}

.icona-social {
	width: 30px;
	height: 30px;
	margin: 0 5px;
}


footer a {
	text-decoration: none;
}




