@media screen and (min-width: 550px) {
#giocatori li {
	width: 25%;
}

.Portieri li:nth-child(4) {
    clear: left;
  }

.Difensori li:nth-child(7) {
    clear: left;
  }

.Centrocampisti li:nth-child(4) {
    clear: left;
  }


.main-header {
	position: relative;
}

.logo {
	position: absolute;
	top: 5px;
	left: 5%;
}
}

@media screen and (min-width: 800px) {

#giocatori li {
	width: 20%;
}

.Portieri li:nth-child(4) {
    clear: none;
  }

.Difensori li:nth-child(7) {
    clear: none;
  }

.Centrocampisti li:nth-child(4) {
    clear: none;
  }

.main-header {
	position: relative;
}

.logo {
	position: absolute;
	top: 5px;
	left: 10%;
}
}


@media screen and (min-width: 1000px) {

#giocatori li {
	width: 20%;
}

.main-header {
	position: relative;
}

.logo {
	position: absolute;
	top: 5px;
	left: 20%;
}
}